<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>

<div th:fragment="content">
	<div class="row justify-content-center">
	    <div class="col-8">
	        <table class="table table-striped custab">
			    <thead>
			        <tr>
			            <th colspan="5">	
				            <select class="py-0 bg-primary text-white form-select text-center" name="year">
						
							    <option th:each="y : ${years}"
							            th:value="${y}"
							            th:text="${y + '年'}"
							            th:selected="${y == currentYear}">
							    </option>
							
							</select>
			            </th>
			        </tr>
			        <tr>
			            <th class="w-25 py-0">月</th>
			            <th class="w-25 py-0 text-end">総収入</th>
			            <th class="w-25 py-0 text-end">総支出額</th>
			            <th class="w-25 py-0 text-end">バランス</th>
			        </tr>
			    </thead>
			    <tbody>					
					<tr th:each="item : ${monthlySummaries}">
					    <td class="py-0" th:text="${item.month}"></td>
					
					    <td class="py-0 text-end"
					        th:text="${item.totalIncome} + ' 円'">
					    </td>
					
        				<td class="py-0 text-end">0 円</td>
        				<td class="py-0 text-end">0 円</td>					
					</tr>
				</tbody>
		    </table>
		</div>
    </div>
</div>

</body>
</html>