<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>

<div th:fragment="exp-menu1">

	<!-- Mobile View -->    
    <div class="d-block d-lg-none mb-3">

	    <form method="get" id="mobileFilterForm">
	        <input type="hidden" name="tab" value="monthly">
	
	        <select class="form-select bg-primary text-white mb-2"
	                name="comparisonYear"
	                onchange="this.form.submit()">
	
	            <option th:each="y : ${years}"
	                    th:value="${y}"
	                    th:text="${y + '年'}"
	                    th:selected="${y == comparisonYear}">
	            </option>
	
	        </select>	
	        <select id="mobileMainCategoryFilter"
		            name="monthlyMainCategory"
		            class="form-select mb-2"
		            onchange="this.form.submit()">
		            
		        <option value="">全て</option>
		
		    </select>
		    
		    <select id="mobileSubCategoryFilter"
		            name="monthlySubCategory"
		            class="form-select"
		            onchange="this.form.submit()">
		
		        <option value="">全て</option>
		
		    </select>
	    </form>	
	</div>
	
	
	<div class="row justify-content-center">
    	<div class="col-12 col-lg-8">
        	<div class="table-responsive">
            <table class="table table-striped custab">
			    <thead>
			        <tr class="d-lg-none">
			            <th colspan="4">
			           		<form method="get" id="filterForm" class="mb-0 d-none d-lg-block">
    							<input type="hidden" name="tab" value="monthly">
    							
    							<select class="form-select form-select-sm bg-primary text-white text-center"
    									name="comparisonYear"
							            onchange="this.form.submit()">
							
								    <option th:each="y : ${years}"
								            th:value="${y}"
								            th:text="${y + '年'}"
								            th:selected="${y == comparisonYear}">
								    </option>
								
								</select>
							</form>
			            </th>
			        </tr>
				    <tr>
				        <th class="py-0 month-col">月</th>
				        <th class="py-0 text-end">総収入</th>
						<th class="py-0 text-center d-none d-lg-table-cell">
							メインカテゴリー<br>
							
							<select form="filterForm"
									class="py-0"
							        id="mainCategoryFilter"
							        name="monthlyMainCategory">
							        				                    					        
							    <option value="" class="text-center py-0">全て</option>
							</select>
						</th>
						
						<th class="py-0 text-center d-none d-lg-table-cell">
							サブカテゴリー<br>
							
							<select form="filterForm"
									class="py-0"
							        id="subCategoryFilter"
							        name="monthlySubCategory">
							 				                     
							    <option value="" class="text-center py-0">全て</option>
							</select>
						</th>
				        <th class="py-0 text-end  w-25">総出額</th>
				        <th class="py-0 text-end  w-25">残高</th>
				    </tr>
				</thead>
				<tbody>
   					<tr th:each="row : ${monthlyIncomeSummary}">
        				<td class="py-0" th:text="${row.month}"></td>
        				<td class="py-0 income-value text-end"
				            th:text="${#numbers.formatInteger(row.totalIncome != null ? row.totalIncome : 0, 1, 'COMMA')} + ' 円'">
				        </td>
				        <td class="py-0 text-center  d-none d-lg-table-cell"
						    th:text="${monthlyMainCategory != null and !#strings.isEmpty(monthlyMainCategory) ? monthlyMainCategory : '全て'}">
						</td>
						<td class="py-0 text-center  d-none d-lg-table-cell"
						    th:text="${monthlySubCategory != null and !#strings.isEmpty(monthlySubCategory) ? monthlySubCategory : '全て'}">
						</td>
					    <td class="py-0 text-end"
					        th:text="${#numbers.formatInteger(row.totalExpense != null ? row.totalExpense : 0, 1, 'COMMA')} + ' 円'">
					    </td>
					    <td class="py-0 text-end"
						    th:classappend="${((row.totalIncome != null ? row.totalIncome : 0) - (row.totalExpense != null ? row.totalExpense : 0)) < 0} ? ' text-danger' : ''"
						    th:text="${#numbers.formatInteger((row.totalIncome != null ? row.totalIncome : 0) - (row.totalExpense != null ? row.totalExpense : 0), 1, 'COMMA')} + ' 円'">
						</td>
				    </tr>
				</tbody>
		    </table>
		    </div>
		</div>
    </div>
</div>
	
</body>
</html>