<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>

<div th:fragment="exp-home">

	<!-- SELECT YEAR & MONTH -->
	<form method="get" th:action="@{/expense}">
	    <div class="d-flex align-items-center gap-1 mb-1">	
	        <select name="summaryYear"
	                class="form-select form-select-sm w-auto border-success bg-primary text-white"
	                onchange="this.form.submit()">
	
	            <option th:each="y : ${years}"
	                    th:value="${y}"
	                    th:text="${y}"
	                    th:selected="${y == selectedYear}">
	            </option>	
	        </select>
	
	        <select name="month"
	                class="form-select form-select-sm w-auto border-success bg-secondary text-white"
	                onchange="this.form.submit()">
	
	            <option th:each="m : ${#numbers.sequence(1,12)}"
	                    th:value="${m}"
	                    th:text="${m + '月'}"
	                    th:selected="${m == selectedMonth}">
	            </option>
	        </select>	
	    </div>	
	</form>


	<!-- EXPENSE TOP SUMMARY TABLE -->	
	<div class="row justify-content-center">
	    <div class="col-12">		    
		    <div class="row justify-content-center">

			    <!-- Table 1 -->
			    <div class="col-md-4">
			        <table class="table table-striped table-bordered text-center">
                		<thead class="table-warning sticky-top">
			                <tr>
			                    <th class="py-0">総支出額</th>
			                </tr>
		                </thead>
			            <tbody>
			                <tr>
			                    <td class="fs-4 py-2 fw-bold text-primary"
			                        th:text="'¥ ' + ${#numbers.formatInteger(totalExpense,0,'COMMA')}">
			                    </td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
					
			    <!-- Table 2 -->
			    <div class="col-md-4 ms-5">
			        <table class="table table-striped table-bordered text-center">
                		<thead class="table-warning sticky-top">
			                <tr>
			                    <th class="py-0">最も多く費やされたのは</th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr>
								<td class="fs-4 py-2 fw-bold text-primary"
										th:text="${topCategory}"> 
								</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>			
			</div>
	    </div>	
	</div>
	
	
</div>
	
</body>
</html>